.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}
.header_left{
    display: flex;
    margin-right: 10px;
}
.header_left > img{
    object-fit: contain;
    height: 50px;
    margin-right: -10px;
}
h2{
    font-size: 15px;
}
.header_search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color:#d5d5d5;
}
.header_search > input{
    outline: none;
    border: none;
    background: none;
}